body {
	width: auto;
	max-width: auto;
	overflow: auto;
	font-family: arial;
	margin: 0 auto;
	background-size: cover;
	background-color: white;
	overflow-x: scroll;
	overflow-y: scroll;
}

.topbar {
	height: 50px;
	background-color: #cc0066;
}

.midbar {
	height: 640px;
}

.lowbar {
	height: 80px;
}

.mainbox {
	width: 350px;
	height: 350px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border: solid 1px;
	border-color: lightgrey;
}

.submainbox {
	width: 350px;
	height: 80px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border: solid 1px;
	border-color: lightgrey;
}

.topbar input[type=button] {
	width: 120px;
	height: 30px;
	margin-top: 10px;
	margin-right: 20px;
	float: right;
	background-color: #3385ff;
	border-color: #3385ff;
	color: white;
	border-radius: 0%;
	font-weight: bold;
}

.midbar input[type=submit] {
	width: 270px;
	height: 28px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 40px;
	margin-right: 40px;
	background-color: #3385ff;
	border-color: #3385ff;
	color: white;
	font-weight: bold;
}

.midbar h1 {
	text-align: center;
	font-size: 40px;
}

.midbar h2 {
	text-align: center;
	font-size: 16px;
	padding-left: 40px;
	padding-right: 40px;
	color: grey;
}

.midbar input[type=text] {
	width: 270px;
	height: 25px;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 40px;
	margin-right: 40px;
}

.midbar input[type=password] {
	width: 270px;
	height: 25px;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 40px;
	margin-right: 40px;
}

.newusr input[type=submit] {
	background-color: #cc0066;
	border-color: #cc0066;
}