body {
	width: auto;
	max-width: auto;
	overflow: auto;
	font-family: verdana;
	margin: 0 auto;
	background-size: cover;
	background-color: white;
	overflow-x: scroll;
	overflow-y: scroll;
}

.mainbox {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.left {
	width: 300px;
	display: block;
	position: fixed;
}

.topleft {
	height: 300px;
	width: 300px;
	display: block;
	position: fixed;
	background-color: pink;
}

.bottomleft {
	height: 300px;
	width: 300px;
	margin-top: 300px;
	display: block;
	position: fixed;
	background-color: lightblue;
}

.right {
	width: 300px;
	margin-left: 300px;
	display: block;
	position: fixed;
}

.topright {
	height: 300px;
	width: 300px;
	display: block;
	position: fixed;
	background-color: lightyellow;
}

.bottomright {
	height: 300px;
	width: 300px;
	margin-top: 300px;
	display: block;
	position: fixed;
	background-color: lightgreen;
}

.calculator {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	border-collapse: collapse;
	border-color: pink;
}

input[type=button] {
	color: white;
	width: 40px;
	height: 40px;
}

.topleft input[type=button] {
	background-color: blue;
	border-color: pink;
}

.topright input[type=button] {
	background-color: red;
	border-color: red;
}

.bottomleft input[type=button] {
	background-color: yellow;
}

.bottomright input[type=button] {
	background-color: green;
}

.bro input[type=button] {
	width: 90px;
	height: 25px;
	background-color: black;
	border-color: black;
}

.sis input[type=button] {
	width: 40px;
	height: 25px;
	background-color: darkblue;
	border-color: black;
}
